<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.TURN_SCREEN_ON" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/taskz_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/taskz_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskz"
        tools:targetApi="31">
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"/>
      <activity
            android:name=".SyncNotion"
            android:exported="false" />
        <activity
            android:name=".NotionWebView"
            android:exported="false" />
        <activity
            android:name=".SelectPlatformSync"
            android:exported="false" />
        <activity
            android:name=".GithubSyncDircetions"
            android:exported="false" />
        <activity
            android:name=".GithubWebView"
            android:exported="false" />
        <activity
            android:name=".SyncGithub"
            android:exported="false" />
        <activity
            android:name=".PlatformSync"
            android:exported="false" />
        <activity
            android:name=".OnboardingScreen"
            android:exported="false" />

        <receiver android:name=".receivers.TaskNotifReceiver" />
        <receiver
            android:name=".TasksTodayWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tasks_today_widget_info" />
        </receiver>

        <activity
            android:name=".CreateTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:allowEmbedded="true"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskReminder"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.AlarmsReceiver" />
    </application>

</manifest>